doctype
html
	head
		meta(charset='utf-8')
		title gif 채팅방
	body
		div f12 를 눌러 console 탭과 network 탭을 확이낳세요
		script(src='/socket.io/socket.io.js')

		script.
			/*
			var webSocket = new WebSocket("ws://localhost:8005");
			
			webSocket.onopen = () => {
				console.log(`서버와 웹 소켓 연결 성공`);
			}

			webSocket.onmessage = (event) => {
				console.log(event.data);
				webSocket.send(`클라이언트 서버로 답장을 보냅니다`);
			}
			*/

			var socket = io.connect('http://localhost:8005', {
				path : '/socket.io',
			});

			socket.on('news', function(data) {
				console.log(data);
				socket.emit(`reply`, `Hello Node.JS`);
			});